
# WASD layout (default)
North = 119
East = 100
South = 115
West = 97
Jump = 32
Attack_1 = 106

# Arrows layout
# North = 273
# East = 275
# South = 274
# West = 276
# Jump = 32
# Attack_1 = 106

# Dvorak layout
# North = 44
# East = 101
# South = 111
# West = 97
# Jump = 32
# Attack_1 = 104
